.skills__title{
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    background-color: #f5f5f5;
}

.skills__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start; 
    background-color: #f5f5f5;
}

.skills__box {
    flex: 0 0 calc(20% - 20px);
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    border: 2px solid #ccc; 
    border-radius: 5px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.skills__box:hover {
    transform: scale(1.05);
    border-color: #333;
}

@media (max-width: 1024px) {
    .skills__line {
        flex-wrap: wrap; /* Permite que las cajas de habilidades se envuelvan en varias líneas */
        justify-content: center; /* Centra horizontalmente los elementos */
      }
      
      .skills__box {
        flex: 0 0 calc(33.33% - 20px); /* Ocupa el 33.33% del ancho y agrega espacio */
        margin: 10px; /* Agrega espacio entre las cajas */
      }
    }

 @media (max-width: 768px) {
        .skills__line {
          flex-wrap: wrap; /* Permite que las cajas de habilidades se envuelvan en varias líneas */
          justify-content: center; /* Centra horizontalmente los elementos */
        }
        
        .skills__box {
          flex: 0 0 calc(33.33% - 20px); /* Ocupa el 33.33% del ancho y agrega espacio */
          margin: 10px; /* Agrega espacio entre las cajas */
        }
      }
      