.menu__list__item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Estilos para los enlaces cuando se les pasa el mouse por encima */
.menu__list__item a:hover {
    transition: 0.5s;
    color: rgb(255, 0, 157);
}

.menu__list__item {
    padding: 10px 15px;
}
