.title__div{
    display: flex;
    background-color: #F5F5F5;
    width: 100%;
    flex-direction: row-reverse;
}

.title__container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title__profile{
    align-content: center;
    margin-top: 2.5rem;
    margin-right: 2.5rem;
    border-radius: 100%;
    width: 10rem;
    height: 15rem;
}


.title__bio{
    margin-top: 5rem;
    margin-left: 5.5rem;
    font-size: 3.1rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
}



