.title__div{
    display: flex;
    background-color: #F5F5F5;
    width: 100%;
    flex-direction: row-reverse;
}

.title__container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title__profile{
    align-content: center;
    margin-top: 2.5rem;
    margin-right: 2.5rem;
    border-radius: 100%;
    width: 10rem;
    height: 15rem;
}


.title__bio{
    margin-top: 5rem;
    margin-left: 5.5rem;
    font-size: 3.1rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
}

@media (max-width: 1024px) {
    .title__network {
      flex-direction: row; /* Cambia la dirección a fila para pantallas pequeñas */
      justify-content: space-around; /* Centra horizontalmente los elementos */
      align-items: center; /* Centra verticalmente los elementos */
    }
    
    .title__profile {
      margin-bottom: 0; /* Elimina el espacio entre la foto y el texto */
      margin-right: 10px; /* Agrega espacio entre la foto y el siguiente ícono */
    }
  }

  @media (max-width: 768px) {
    .title__network {
      flex-direction: row; /* Cambia la dirección a fila para pantallas pequeñas */
      justify-content: space-around; /* Centra horizontalmente los elementos */
      align-items: center; /* Centra verticalmente los elementos */
    }
    
    .title__profile {
      margin-bottom: 0; /* Elimina el espacio entre la foto y el texto */
      margin-right: 10px; /* Agrega espacio entre la foto y el siguiente ícono */
    }
  }